

.b-banner{
  background-color:rgba(242, 244, 255, 1);
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  /* ---------- sobre nosotros -------- */
  .card-nosotros {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 4%;
  }
  
  .card-title-nosotros {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card-text-correo {
    font-size: 0.98rem;
  }
  
/*------- categorias -------- */

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  text-align: center   !important;
}


